<!--
  Practicalli Custom 404 Page
-->


{% extends "main.html" %}

<!-- Content -->
{% block content %}
<h1>This is not the page you are looking for</h1>

<h3>
    Sorry we have arrived at a page that does not exist...
</h3>

<p>
    Practicalli Clojure Kafka is an alpha stage book and navigation may change as the book develops.
</p>


<p>
    Try use the Search bar at the top of the page if you cannot find the information you need.
</p>

<p>
    <a href="https://practical.li/">
        <img src="https://github.com/practicalli/graphic-design/raw/live/logos/practicalli-logo-name-dark.png?raw=true"
            alt="Practicalli Logo">
    </a>
</p>

<p>
    <a href="https://practical.li/">
        <img src="https://github.com/practicalli/graphic-design/raw/live/clojure/clojure-repl-workflow-concept.png?raw=true"
            alt="Practicalli REPL Driven Workflow">
    </a>
</p>


{% endblock %}
